.form-group {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px
}   

.form-box {
    display: flex;
    padding: 5px;
    text-align: left;
}

.button {
    background-color: #2d6df7;
    color: white;
    border: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.no-info {
    text-align: center;
    margin: 0;
}

ul {
    text-align: center;
    list-style-position: inside;
}

h1 {
    text-align: center;
}